<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/logo-fav.png">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header bg-primary">
    <a href="#" class="header__toggler">
      <img src="./assets/images/icon-hamburger.png" alt="hamburger">
    </a>
    <h1>
      <a href="./index.html">
        <img src="./assets/images/logo.png" alt="logo" class="logo">
      </a>
    </h1>
    <ul class="header__menu">
      <li class="header__item"><a href="./product.html" class="header__link">系列鏡框</a></li>
      <li class="header__item"><a href="./storemap.html" class="header__link">門市據點</a></li>
      <li class="header__item"><a href="" class="header__link">部落格</a></li>
      <li class="header__item"><a href="" class="header__link">常見問題</a></li>
    </ul>
  </header>
  <main>
    <%- contents %>
  </main>
  <footer class="bg-primary">
    <div class="container">
      <div class="footer">
        <div class="footer__head">
          <ul class="footer__menu">
            <li><a href="#">首頁</a></li>
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a></li>
          </ul>
          <ul class="footer__content">
            <li>
              <a href="#">
                <img src="./assets/images/icon-phone.svg" alt="phone logo">0800-000-000
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/icon-mail.svg" alt="phone logo">glasses@business.com
              </a>
            </li>
          </ul>
        </div>
        <ul class="footer__sns">
          <li><a href="https://www.facebook.com">
              <img src="./assets/images/icon-fb.svg" alt="fb logo">
            </a></li>
          <li><a href="https://www.instagram.com">
              <img src="./assets/images/icon-ig.svg" alt="ig logo">
            </a></li>
          <li><a href="https://line.me">
              <img src="./assets/images/icon-line.svg" alt="line logo">
            </a></li>
        </ul>
        <div class="footer__others">
          <div class="copyright">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
          </div>
          <ul class="policy">
            <li>
              <a href="#">隱私權政策</a>
            </li>
            <li>
              <a href="#">服務條款</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>