.header{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 88px;
  @include md{
    padding: 0 7px 0 39px;
    z-index: 100;
  }
  @include sm{
    // optimize
    width: 100vw;
    padding: 0;
    position: fixed;
    top: 0;
  }
  h1{
    @include sm{
      width: 100%;
    }
    a{
    @include sm{
    width: 100%;
    }
  }
  }
  &__toggler{
    display: none;
    @include sm{
      padding: 9px;
      position: absolute;
      top: 0;
      left: 4px;
      display: inline-block;
    }
    img{

    }
  }
  &__menu{
    display: flex;
    flex-wrap: wrap;
    @include sm{
      position: absolute;
      max-height: 0;
      overflow: hidden;
      top: 100%;
      transition: all 0.8s;
      z-index: 120;
      width: 100%;
      &.active {
        background-color: $primary;
        max-height: 160px;
        overflow-y: auto;
      }
    }
  }
  &__link{
    color: $white;
    padding: 38px 32px;
    &:after{
      content: "";
      display: block;
      border-bottom: 2px solid $white;
      width: 0%;
      transition: all ease-in-out 0.3s;
      position: absolute;
      bottom: 30px;
      left: 30px;
    }
    &:hover{
      &:after{
        width: 50%;
      }
    }

    @include sm{
    padding: 8px 54px;
    text-align: center;
    &:hover{
      &:after{
        width: 0%;
      }
    }
  }
  }
  &__item{
    position: relative;
    @include sm{
    outline: 1px solid transparentize($white, 0.8);
    width: 100%;
  }
  }
}
.logo{
  @include sm{
    box-sizing: content-box;
    padding: 10px;
    margin: 0 auto;
    width: 48px;
    display: block;
  }
}

.footer{
  @include md{
    padding: 14px 0px 0 0;
  }
  @include sm{
    padding: 24px 0 20px 0;
  }
  display: flex;
  flex-wrap: wrap;
  padding: 44px 0 7px 0;
  justify-content: space-between;
  &__head{
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  }
  &__menu{
    display: flex;
    margin-left: -24px;
    margin-bottom: 24px;
    font-weight: 400;
    @include md{
      margin-bottom: 10px;
    }
    @include sm{
      display: none;
    }
    li{
      position: relative;
      a{
        color: $white;
        padding: 12px 24px;
        &:after{
        content: "";
        display: block;
        border-bottom: 2px solid $white;
        width: 0%;
        transition: all ease-in-out 0.3s;
        position: absolute;
        bottom: 0px;
        left: 20%;
      }
      &:hover{
        &:after{
          width: 60%;
        }
    }
      }
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    font-weight: 400;
    @include sm{
      margin-bottom: 18px;
    }
    li{
      margin-bottom: 16px;
      @include md{
        margin-bottom: 12px;
      }
      @include sm{
        margin-bottom: 6px;
      }
      a{
        color: $white;
        font-size: $h3-font-size;
        &:hover{
          color: $grey;
          text-decoration: underline;
        }
        @include md{
          font-size: $h5-font-size;
          line-height: 26px;
        }
        @include sm{
          font-size: $h6-font-size;
          line-height: 21px;
        }
        img{
          width: 36px;
          height: 36px;
          margin-right: 16px;
          @include md{
          width: 20px;
          height: 20px;
          margin-right: 10px;
          }
          @include sm{
            width: 15px;
            height: 15px;
            margin-right: 6px;
          }
        }
      }
    }
  }
  &__sns{
    display: flex;
    justify-content: flex-end;
    @include md{
      margin-top: 18px;
    }
    @include sm{
       margin-top: 0px;
       margin-right: -12px;
      }
    li{
      a{
        box-sizing: content-box;
        width: 48px;
        height: 48px;
        padding: 16px;
        @include md{
        width: 24px;
        height: 24px;
        padding: 0 12px 12px 12px;
      }
      }
    }
  }
  &__others{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1px solid $white;
    font-weight: 300;
    @include sm{
      padding-top: 16px;
    }
  }
}
.copyright{
  color: $white;
  @include sm{
    width: 100%;
  }
}
.policy{
  display: flex;
  flex-wrap: wrap;
  font-size: $font-size-sm;
  @include md{
    margin-right: -12px;
  }
  li{
    &:last-child{
    a{
      padding: 32px 0px 32px 24px;
      @include md{
        padding: 24px 12px;
       }
       @include sm{
        padding: 4px 4px 4px 0;
      }
    }
     }
    @include sm{
        width: 100%;
      }
      a{
        color: $white;
        padding: 32px 24px;
        @include md{
        padding: 24px 12px;
       }
       @include sm{
        padding: 4px 4px 4px 0;
      }
      }
    }
}