.product-header{
  display: flex;
  max-width: 1384px;
  margin: 0 auto;
  @include md{
    padding: 0 39px;
  }
  @include sm{
    // optimize
    padding: 49.32px 15px 0px;
  }
  & .active{
    &::after{
      width: 100%;
    }
  }
  li{
    width: 33.333%;
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;
    border-bottom: 1px solid $grey;
    a{
      color: $black;
      font-size: $h3-font-size - 4px;
      padding: 27px 0px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      @include md{
        padding: 14px 0px;
        font-size: $h4-font-size;
      }
      @include sm{
        padding: 5px 0px;
        font-size: $font-size-sm;
      }
      &::after{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          border-bottom: 8px solid $primary;
          width: 0%;
          transition: all ease-in-out 0.5s;
      }
      &:hover{
        &::after{
          width: 100%;
        }
      }
      img{
        width: 44px;
        height: 44px;
        margin-right: 10px;
        @include md{
          width: 30px;
          height: 30px;
        }
        @include sm{
          width: 16px;
          height: 16px;
          margin-right: 5px;
        }
      }
    }
  }
}
.product-mv{
  display: flex;
  height: 304px;
  @include sm {
    height: 148px;
  }
}
.sun-nbr01{
  background-image: url('../images/banner-1.png');
  background-size: cover;
  background-position: center;
  width: 50%;
}
.sun-nbr02{
  background-image: url('../images/banner-2.png');
  background-size: cover;
  background-position: center;
  width: 50%;
}

.productList{
  display: flex;
  flex-wrap: wrap;
  &__item{
    width: calc(25% - 30px);
    margin: 0 15px 104px 15px;
    @include md {
      width: calc(50% - 30px);
      margin:0 15px 72px 15px;
    }
    @include sm {
      width: 100%;
      margin: 0 0 32px;
    }
  }
  &__img{
    width: 100%; 
  }
  &__detail{
    display: flex;
    font-size: $h4-font-size;
    line-height: 36px;
    text-transform: uppercase;
    justify-content: space-between;
    @include sm {
      font-size: 16px;
      line-height: 21px;
    }
  }
  &__type{ 
  }
  &__dollar{
    color: $primary;
  }
  &__colors{
    display: flex;
  }
  &__color{
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 8px;
  }
  &__color1{
    background-color: $info;
  }
  &__color2{
    background-color: $warning;
  }
}