$color-primary: #AA0601;
$color-secondary: #AA06010D;
$color-dark: #650300;
$color-black: #212529;
$color-grey: #707070;
$color-bg: #FBF2F2;
// breakPoint set 斷點設定
// medium device: (md) - tablet
@mixin large {
  @media (max-width: 992px) {
    @content
  }
};
@mixin medium {
  @media (max-width: 768px) {
    @content
  }
};
@mixin bx{
  box-sizing: border-box;
}
// global
*,*:before,*:after{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.subtitle{
  font-size: 48px;
  line-height: 72px;
  color: $color-dark;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 600;
  @include medium{
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 20px;
  }
  &--black{
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    color: #000;
    margin-bottom: 24px;
    font-weight: 700;
    @include medium{
      font-size: 20px;
      line-height: 29px;
      margin-bottom: 20px;
    }
  }
  &--italic{
    font-size: 48px;
    line-height: 72px;
    color: $color-primary;
    font-style: italic;
    font-weight: 700;
    @include medium {
      font-size: 39px;
      line-height: 37px;
    }
  }
  &__white{
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 40px;
    @include medium {
      font-size: 20px;
      line-height: 29px;
      margin-bottom: 20px;
    }
  }
}
body{
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.middleTitle{
  font-size: 36px;
  line-height: 1.5;
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.sectionBlock{
  padding-top: 60px;
  padding-bottom: 80px;
  @include medium{
    padding-top: 32px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
// utility
.u-bg--primary{
  background-color: $color-primary;
}
.u-bg--secondary{
  background-color: $color-secondary;
}
.u-bg--picture{
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: cover;
  @include medium{
    background-position: 40% 50%;
  }
}
.u-borderBottom{
  margin-bottom: 32px;
  color: white;
  border: 0px solid #000;
  outline: 1px solid #FBF2F2;
  @include medium{
    margin-bottom: 16px;
  }
}
.d-flex{
  display: flex;
}
.pb-lg-3{
  padding-bottom: 24px;
}
.mb-lg-2{
  margin-bottom: 16px;
}
.mb-lg-3{
  margin-bottom: 24px;
}
.mb-lg-4{
  margin-bottom: 32px;
}
.ml-lg-2{
  margin-left: 16px;
}
.ml-lg-3{
  margin-left: 24px;
}
.ml-md-4{
  margin-left: 32px;
}
.ml-lg-6{
  margin-left: 48px;
}
.ml-lg-8{
  margin-left: 64px;
}
// /Extra large: (xl) - large desktops
// ------------l-navbar---------------
.l-navbar {
  position: relative;
  padding: 24px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include large{
    
  };
  @include medium{
    padding: 0;
    align-items: center;
  };
  &__logo{
    display: block;
    @include medium{
      margin: 0 auto;
      width: 48px;
      text-align: center;
      padding: 10px 0 ;
    }
  };
  &__toggler{
    @include medium{
      display: none;
    }
  };
  &__dropdown{
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    @include large{
      margin-right: -32px;
    }
    @include medium{
      width: 100%;
      text-align: center;
    }
    &__item{
      @include medium{
      box-sizing: border-box;
      width: 50%;
      border: 1px solid #fff;  
      }
    }
  }
}
.l-footer{
  padding: 44px 0 39px;
  @include medium {
    padding: 25px 15px 16px;
  }
}
// l-container
.l-container{
  margin: 0 auto;
  max-width: 1200px;
  @include medium {
    
  }
  &--sm{
    max-width: 730px;
    margin: 0 auto;
  }
  // @include large {
  //   max-width: 
  // }
}

.l-navbarLink{
  display: block;
  font-size: 20px;
  line-height: 28px;
  padding: 16px;
  color: white;
  @include large {
    padding: 16px 32px;
  }
  @include medium {
    padding: 8px 20px;
  }
}
.l-footerNav{
  display: flex;
  &__left{
    width: 70%;
    @include medium{
      width: 58%;
    }
    &__list{
      display: flex;
      margin-left: -20px;
      margin-bottom: 26px;
      @include medium {
        display: none;
      }
      &__item{
       
      }
    }
    &__info{
      margin-bottom: 15px;
      &__item{
         margin-bottom: 6px;
      }
    }
  }
  &__icon{
    display: flex;
    width: 30%;
    justify-content: flex-end;
    @include medium {
      width: 42%;
    }
  }
}
.l-footerLink{
  color: white;
  padding: 16px 20px;
  display: block;
}
.l-clauseLink{
  color: white;
  padding: 16px 20px;
  display: block;
  @include medium{
    padding: 0;
    margin-bottom: 8px;
  }
}
.l-footerContactLink{
  color: white;
  font-size: 36px;
  line-height: 54px;
  @include medium {
    font-size: 16px;
    line-height: 30px;
  }
  &__icon{
    width: 36px;
    height: 36px;
    margin-right: 12px;
    @include medium {
    width: 16px;
    height: 15px;
    margin-right: 6.5px;
  }
  }
}
.l-footersocialLink__icon{
  width: 48px;
  height: 48px;
  margin-left: 32px;
  @include medium {
    width: 24px;
    height: 24px;
     margin-left: 24px;
  }
}
.l-footerStatement{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  &__copyright{
    @include medium{
      width: 100%;
      margin-bottom: 8px;
    }
  }
  &__clause{
    display: flex;
    @include medium{
      width: 100%;
      flex-direction: column;

    }
  }
}
// ---------banner---------
.banner{
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  @include medium{
    padding: 0 15px;
  }
  &__textBg{
    min-height: 840px;
    max-width: 1224px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include medium{
      min-height: 394px;
    }
    &__text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: $color-dark;
    &__subtitle{
      font-size: 36px;
      line-height: 54px;
      @include medium{
        font-size: 16px;
        line-height: 22px;
      }
    }
    &__title{
      font-size: 64px;
      line-height: 96px;
      font-weight: 500;
      @include medium{
        font-size: 32px;
        line-height: 45px;
      }
    }
  }
  }
}
// c-iconCards
.c-iconCards{
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  &__item{
    width: 25%;
    // padding: 0 15px;
    @include medium{
      width: 100%;
      margin-bottom: 40px;
      padding: 0 px;
    }
    &__title{
      font-size: 24px;
      line-height: 36px;
      color: $color-dark;
      margin-bottom: 8px;
      text-align: center;
    }
    &__content{
      font-size: 16px;
      line-height: 24px;
      color: #000;
      text-align: center;
      @include medium{
      padding: 0px 45px;
    }
    }
  }
  &__icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    min-height: 78px;
    &__img{
      width: 83px;
    }
    &__img-long{
      width: 100px;
    }
  }
}
// p-staggerList
.p-staggerList{
  &__item{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
    position: relative;
    &:nth-child(even){
      flex-direction: row-reverse;
      text-align: right;
    }
    &__cover{
      width: 62%;
      @include medium{
        width: 100%;
      }
    }
    &__content{
      display: flex;
      align-items: center;
      width: 38%;
      padding-left: 30px;
    }
    &__content-right{
        display: flex;
        align-items: center;
        width: 38%;
        justify-content: flex-end;
        padding-right: 30px;
      }
    }
  }
  .c-iconText{
    display: flex;
    @include medium{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__icon{
      margin-right: 10px;
      &--diamond{
        @include medium{
          width: 32px;
        }
      }
      &--sun{
        @include medium{
          width: 36px;
        }
        
      }
      &--thunder{
        @include medium{
          width: 26px;
        }
      }
    }
  }

  // &__title{
  //       display: flex;
  //       margin-right: 30px;
  //     }
  .col-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__mask{
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__item{
      width: calc(50% - 15px);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 455px;
      @include medium{
        width: 100%;
        height: 291px;
        margin-bottom: 16px;
      }
      &--img1{
        background-image: url('../images/product-8.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
      &--img2{
        background: url('../images/product-9.png') no-repeat center;
      }
      &__title{
        font-size: 72px;
        line-height: 108px;
        color: $color-primary;
        font-weight: 700;
        @include medium{
          font-size: 32px;
          line-height: 43px;
        }
      }
    }
  }
  .c-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item{
      width: calc(25% - 22.5px);
      box-shadow: 0px 2px 6px #00000029;
      border-radius: 4px;
      @include medium {
        width: 100%;
        margin-bottom: 15px;
      }
      &__cover{
        width: 100%;
        height: 256px;
        &--img1{
          background: url('../images/rec-1.png') no-repeat center;
          background-size: cover;
        }
        &--img2{
          background: url('../images/rec-2.png');
          background-size: cover;
        }
        &--img3{
          background: url('../images/rec-3.png') no-repeat center;
          background-size: cover;
        }
        &--img4{
          background: url('../images/rec-4.png') no-repeat center;
          background-size: cover;
        }
      }
      &__body{
          padding: 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-height: 200px;
          @include medium{
            padding: 16px 24px;
          }
        &__group{
        }
        &__title{
          font-size: 14px;
          line-height: 21px;
          color: $color-black;
          margin-bottom: 8px;
        }
        &__text{
          font-size: 16px;
          line-height: 24px;
          color: $color-black;
        }
        &__textEnd{
          font-size: 14px;
          line-height: 21px;
          color: $color-grey
        }
      }
    }
  }

  
// p-contactForm
.p-contactForm{
  width: 100%;
  &__input{
    width: 100%;
    margin-bottom: 16px;
    height: 50px;
    background-color: transparent;
    border: 1px solid $color-black;
    padding-left: 10px;
    @include medium{
      height: 36px;
      margin-bottom: 8px;
    }
    &:focus{
      border: $color-primary
    }
  }
  &__description{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    @include medium{
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 8px;
    }
  }
  &__textarea{
    width: 100%;
    margin-bottom: 16px;
    // height: 80px;
    background-color: transparent;
    border: 1px solid $color-black;
    padding-left: 10px;
    resize: none;
  }
  &__checkbox{
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 1px;
    border: 1px solid #000;
    margin: 0;
    margin-right: 10px;
    cursor: pointer;
    &__text{
      font-size: 20px;
      line-height: 20px;
      font-weight: 300;
      @include medium{
        font-size: 14px;
        line-height: 21px;
      }
    }
    &:focus{
      background-color: $color-primary;
      // &:before{
      //   content: url('../images/icon-check.svg');
      //   display: block;
      //   width: 5px;
      //   height: 5px;
      // }
    }
  }
  &__checkboxGroup{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__button{
    min-width: 350px;
    min-height: 54px;
    background-color: $color-primary;
    color: #fff;
    border: none;
    margin: 0 auto;
    display: block;
    font-size: 16px;
    cursor: pointer;
    @include medium{
      min-width: 165px;
      height: 36px;
      font-size: 14px;
      line-height: 21px;
    }
  }
  &__label{
    display: block;
    font-size: 16px;
    margin-bottom: 3px;
    @include medium{
      font-size: 14px;
    }
  }
  &__input,&__textarea{
    &::placeholder{
      color:rgba(0, 0, 0, 0.2)
    }
  }
}